# Windows
desktop.ini
Thumbs.db

# macOS
.DS_Store

# Linux
*~
.nfs*

# Python
**pycache**/
*.py[cod]

# uv cache
.uv-cache/

# 仮想環境
.venv/

# ビルド用ワークスペース
/build/

# ビルド成果物
/dist/

# ビルド時に生成されるファイル
**/contents.json
**/textures_list.json

# ビルド時に配置される LICENSE
/addons/*/LICENSE
